
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@300&family=Quicksand&display=swap');
*{
    font-family: 'Mulish', sans-serif;
    background:'#FAF9F4';
}
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }}